.slick-slider img {
    max-width: 100%;
    height: auto;
    max-height: 300px; /* Adjust this value according to your desired height */
    object-fit: cover;
    margin: 0 auto;
  }
  
.news-section {
  /* Your styles here */
}
.news-section article {
  margin-bottom: 20px;
}
.news-section h2 {
  font-size: 1.5em;
}
.news-section time {
  color: #666;
}
