.slick-slider img {
    max-width: 100%;
    height: auto;
    max-height: 300px; /* Adjust this value according to your desired height */
    object-fit: cover;
    margin: 0 auto;
  }
 
/* NEWS POST STYLE */
.news-section {
  /* Your styles here */
}
.news-section article {
  margin-bottom: 20px;
}
.news-section h2 {
  font-size: 1.5em;
}
.news-section time {
  color: #666;
}

.news-list {
  list-style-type: none;
  padding: 0;
}

.news-list li {
  margin-bottom: 20px;
}

.news-list a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.news-list .news-date {
  display: block;
  font-size: 0.9em;
  color: #666;
}

.news-list .news-description {
  margin: 5px 0 0 0;
  font-size: 0.9em;
  color: #333;
}
/* NEWS POST STYLE */

/* NEWS ARCHIVE STYLE */
.news-archive-list {
  list-style-type: none;
  padding: 0;
}

.news-archive-list li {
  margin-bottom: 20px;
}

.news-archive-list a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.news-archive-list .news-date {
  display: block;
  font-size: 0.9em;
  color: #666;
}

.news-archive-list .news-description {
  margin: 5px 0 0 0;
  font-size: 0.9em;
  color: #333;
}
.news-archive-link {
  margin-top: 20px;
  text-align: left;
}

.news-archive-link a {
  font-weight: bold;
  color: #007BFF;
  text-decoration: none;
}

.news-archive-link a:hover {
  text-decoration: underline;
}
/* NEWS ARCHIVE STYLE */



/* CUSTOM HERO STYLES */
@media screen and (min-width: 769px), print {
  .hero.is-index-height .hero-body {
    padding: 7rem 6rem;
  }
}
/* CUSTOM HERO STYLES */


/* ADDITIONAL IMAGE STYLES */
/* .img.is-4by3 {
  object-fit: cover;
  object-position: center;
} */
/* ADDITIONAL IMAGE STYLES */

