<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/styles.css?v=2' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/vertical_center.css' | relative_url }}">

  <style>
    /* Restore paragraph spacing in content */
    .content p {
      margin-bottom: 1em;
      text-indent: 0;
    }
  </style>
</head>

<body>
  {% include navbar.html %}

  {% if page.layout == "home" %}
    {% include hero_home.html %}
  {% elsif page.hero_image %}
    {% include hero.html %}
  {% endif %}

  <section class="section">
    <div class="container content">
      {{ content }}
    </div>
  </section>

  {% include footer.html %}
</body>

</html>